/* #navbarNavDropdown ul li a {
  color: #fff;
}
#navbarNavDropdown ul li a:hover {
  font-weight: bold;
  text-decoration: underline;
}
.navbar-brand img {
  height: 100px;
} */



#navbar{
  font-family: Roboto Mono,monospace;
  font-weight: bold;
}
